.footerWrapper {
  width: 100%;
  background: linear-gradient(
    180deg,
    #006aff -30.22%,
    var(--secondary-color) 12.62%,
    var(--primary-color) 80.23%
  );
  padding: 40px 0px;
  color: var(--text-color);
}
.footerRow {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.socialIcons {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.footerLinks {
  display: flex;
  margin: 20px 0px;
}
.footerLinks div {
  padding: 4px 10px;
}
.footerLinks div:not(:last-child) {
  border-right: 1px solid gray;
}
.footerLinks div a {
  color: var(--text-color);
  text-decoration: underline;
}
